<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
	  class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <Encoding>UTF-8</Encoding>
	  <File>${log.base}.achieve.log</File>
	  <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	   <FileNamePattern>d:\\Project\\Git\\data-system-demo\\log\\content.%d{yyyyMMddHHmm}.log</FileNamePattern>
	  </rollingPolicy>
	  <layout class="ch.qos.logback.classic.PatternLayout">
	   <pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
	  </layout>
	 </appender>
 </configuration>